<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>sharingan は自分の発話をリアルタイム文字起こしするためにマイクを使用します。</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>sharingan は音声をテキストに変換するために音声認識を使用します。</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>sharingan は通話相手など、Mac から出る音声を文字起こしするためにシステム音声を録音します。</string>
</dict>
</plist>
